<!DOCTYPE html>
<body>
	<table>
		<tr>
			<td><%= @nombre_jugador1 %></td>
			<td style="width: 70px; text-align: center;">vs.</td>
			<td><%= @nombre_jugador2 %></td>
		</tr>
		<tr>
			<td><%= @rol_jugador1 %></td>
			<td></td>
			<td><%= @rol_jugador2 %></td>
		</tr>
		<tr>
			<td><form action="/j1" method="POST">
					<input type="hidden" value="punete" />
					<input type="submit" value="Punete 1"/>
				</form>
			</td>
			<td></td>
			<td><input type="button" value="Punete 2"/></td>
		</tr>
		<tr>
			<td>Energia 1 <br/>Vida 1: <%= @player_1_score %></td>
			<td></td>
			<td>Energia 2 <br/>Vida 2: <%= @player_2_score %></td>
		</tr>
	</table>

</body>
